---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/nav/Navbar";
import HeroSection from "../components/home/HeroSection";
import BalanceFeatures from "../components/home/BalanceFeatures";
import MySpaceGroup from "../components/groups/MySpaceGroup";
import SafetySection from "../components/safety/SafetySection";
import Footer from "../components/layout/Footer";
---

<BaseLayout title="Melo - Your Mental Wellness Companion">
  <Navbar client:load />
  <main>
    <HeroSection client:load />
    <BalanceFeatures client:load />
    <MySpaceGroup client:load />
    <SafetySection client:load />
  </main>
  <Footer client:load />
</BaseLayout>
